@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-Regular.ttf);
    font-weight: regular;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-Bold.ttf);
    font-weight: bold;
}

body {
    background-color: #ff7b54;
    color: #ffffff;
    font-family: Inter, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}